# Example environment configuration for SAXSWAXS_workflows.

# Tiled server
TILED_URI="http://127.0.0.1:8888"
# API key for accessing the Tiled server and container from TILED_URI
TILED_API_KEY=""
# "Files" or "Direct" - determines whether to write to Tiled via file-based or direct API access.
WRITE_TILED_MODE="Files"

# Local data paths
# Sets directory for storing the raw data
# Replace <your-value-here> with the path to raw data
# e.g. "/Users/user/Documents/Data/beamtime-xxxxxx"
# Must match PATH_TO_RAW_DATA in workflow-viz
PATH_TO_DATA="<your-value-here>"

# Sets directory for storing the processed data
# Replace <your-value-here> with the path to processed data
# Initially empty aside from mask information; filled by the workflow
# This directory should not be inside of the raw data directory
# due to typical write permissions being restricted for raw data
# e.g. "/Users/user/Documents/Data/beamtime-xxxxxx-processed"
PATH_TO_PROCESSED_DATA="<your-value-here>"

# Sets the working directory for the process that imports flows
# Replace <your-value-here> with the path to your desired working directory
# e.g. "/Users/user/Documents/Code/Autonomous/SAXSWAXS_workflows"
PREFECT_WORK_DIR="<your-value-here>"

# Beamline control (used by autonomous_zmq)
# The beamline control server must be configured to accept connections from the workflow process
BL_SERVER="<your-value-here>"
BL_PORT="<your-value-here>"